##### Node Config
NODE_ENV=development
DEBUG=apiCrypto:disableCrypto;nodeHttp:enableDevLogs
NODE_TLS_REJECT_UNAUTHORIZED=1
#
##### Server Config
PORT=8080
BODY_LIMIT=5mb
ALLOW_CORS_ORIGIN=http://*
ALLOW_CORS_METHODS=OPTIONS,GET,POST,PUT,PATCH,DELETE
#
##### Blacklist Config
BLACKLIST_MASTER_KEY_HEX=0000000000000000000000000000000000000000000000000000000000000000
